body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #acacac;
  color: #dedede;
}
html {
  overflow: hidden;
}
html,
body {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*colors: purple - #2C1E5A, grey - #DEDEDE */
