.movieItem {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 5rem;
  border-width: 1px;
  border-color: #2c1e5a;
  border-style: solid;
  border-radius: 15px;
  margin-top: 0.5rem;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 1px;
  height: 100%;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.img {
  height: 90%;
  border-radius: 10px;
}

.decriptionContainer {
  max-width: 80%;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
}

.listTitle {
  color:#2c1e5a;
  overflow: hidden;
  flex-wrap: nowrap
}

.listDesc {
  font-size: 0.8rem;
  overflow: hidden;
  max-height: 3rem;
  word-wrap: break-word;
}
