.searchView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;

}
.searchBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 2.5rem;
  padding: 2rem
  
}

.searchbar {
  width: 100%;
  border-width: 1px;
  background-color: #000022;
  border-style: solid;

  border-color: #E28413;
  font-family: "Roboto";
  outline: none;
  -webkit-transition: 0.3s;
  color: #F4F4F6;
  font-weight: 500;
  font-size: 0.8rem;
}

.searchbar:focus {
  border: 2px solid #E28413;
}

.results {
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.label {
  color: #E28413;
}
