.signup {
  height: 100vh;
  
  display: flex; 
  flex-direction: column; 
  
  justify-content: space-evenly;
  align-items: center;
  
}


.logo {
  width: 100%
  
}

.appName {
  font-size: 2rem;
  color: #E28413;
  margin: 0%
}

.form{
  
  display: flex;
  flex-direction: column;
  width: 80%;
  
}




